<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <!-- <class name="testNgPackage.FirstTestNgClass"/> -->
      <class name="testNgPackage.SeleniumTestNg"/>
      <!-- class name="testNgPackage.ExecutionOrderOfTestNgTags"/>
      <class name="testNgPackage.EnabledDisabled"/>
      <class name="testNgPackage.InvocationCount"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
